<!DOCTYPE html>
<html>
<head>

</head>

<body>


  <div class="wrapper">
    <br>
    <h1>Add a new shelter</h1>
      <%=form_for @shelter, :html => {:class => "ui form"} do |f|%>

      <div class="field">
        <%= f.label :name%>
        <%= f.text_field :name%>
      </div>

      <div class="field">
        <div class="two fields">
          <div class="field">
            <%= f.label :email%>
            <%= f.text_field :email%>
          </div>
          <div class="field">
            <%= f.label :phone%>
            <%= f.text_field :phone%>
          </div>
        </div>
      </div>

      <div class="field">
        <%= f.label :address%>
        <%= f.text_area :address%>
      </div>

      <div class="field">
        <%=f.label :mission%>
        <%=f.text_area :mission%>
      </div>



      <div class="field">
        <%=f.submit "Add your shelter"%>
      </div>

      <%end%>

  </div>
</body>
