<!DOCTYPE html>
<html>
<head>

<h1>Enter in your shelter!</h1>
</head>

<body>

<p>
<%= form_for @shelter do |f|%>
<%= f.label :name %>
<%= f.text_field :name %><br>
<%= f.label :address %>
<%= f.text_area :address %><br>
<%= f.submit %>
<%end%>
</p>

</body>
