<h1><%= @shelter.name %></h1>
<h3><%= @shelter.address %></h3><br>

<% @shelter.animals.each do |animal| %>
<p>Animal Name: <%= link_to animal.name, animal_path(animal) %></p>
<p>Type of Animal: <%= animal.type_of_animal %></p><br>
<%end%>


<%=link_to "Return to Shelters", shelters_path%>
