<!DOCTYPE html>
<html>
<head>

<h1>All of the Animals!</h1>
</head>

</body>

<div class="filter">
<%=form_tag animals_path, method: :get%>
<%=collection_select :animal,:type_of_animal_id, TypeOfAnimal.all, :name, :name %>
<%=submit_tag%>
</div>

<div class="numbers">
 <p>Animals Adopted:<%= Animal.adopted%></p><br>
 <p>Animals That Still Need Homes:<%= Animal.not_adopted%></p>
</div>

<ul>
  <%@animals.each do |animal|%>
  <li><h3><%=link_to animal.name, animal_path(animal)%></h3></li>
  <p><%=animal.type_of_animal.name%></p>
  <p>Shelter: <%=link_to animal.shelter.name, shelter_path(animal.shelter)%></p><br>
  <%end%>
</ul>

</body>
