<!DOCTYPE html>
<html>
<head>
<style>
body {style="background-color:#ffffff;"}
h1   {text-align: center; font-family: "Futura" ; color:#92BFFF;}
h2   {text-decoration: none; text-align: center; font-family: "Futura" ; color:#92BFFF;}
h3   {text-decoration: none; text-align: center; font-family: "Futura" ; color:#92BFFF;}
p    {text-align: center; font-family: "Futura" ; color:#7F7F7D;}
li   {list-style-type: none; text-decoration: none}
</style>

<h1>Make a new animal!</h1>
</head>

<body>
<%=form_for @animal do |f|%>
<%= f.label :name%>
<%= f.text_field :name%><br>
<%= f.label :type%>
  <input list="animal_type" name="animal_type">
  <datalist id="animal_type">
    <%TypeOfAnimal.all.each do |animal_type|%>
    <option><%=animal_type.name%></option>
    <%end%>
  </datalist>


<%= f.fields_for :animal_age do |ag|%>
<%=ag.label :animal_age%>
<%=ag.text_field :animal_age%>
<%end%>


<%= f.label :breed%>
  <input list="animal_breed" name="animal_breed">
  <datalist id="animal_breed">
    <%AnimalBreed.all.each do |animal_breed|%>
    <option><%=animal_breed.breed%></option>
    <%end%>
  </datalist>


<%= f.label :description%>
<%= f.text_area :description%><br>
<%= f.label :shelter%>
<%= f.collection_select :shelter_id, Shelter.all, :id, :name%><br>
<%=f.submit "Add animal to our list"%>
<%end%>

</body>
