<!DOCTYPE html>
<html>
<head>
<style>
body {style="background-color:#ffffff;"}
h1   {text-align: center; font-family: "Futura" ; color:#92BFFF;}
h2   {text-decoration: none; text-align: center; font-family: "Futura" ; color:#92BFFF;}
h3   {text-decoration: none; text-align: center; font-family: "Futura" ; color:#92BFFF;}
p    {text-align: center; font-family: "Futura" ; color:#7F7F7D;}
li   {list-style-type: none; text-decoration: none}
</style>

<h1>Make a new animal!</h1>
</head>

<body>
<%=form_for @animal do |f|%>
<%= f.label :name%>
<%= f.text_field :name%><br>
<%= f.label :type%>
<%= f.collection_select :type_of_animal_id, TypeOfAnimal.all, :id, :name%><br>
<%= f.label :description%>
<%= f.text_area :description%><br>
<%= f.label :shelter%>
<%= f.collection_select :shelter_id, Shelter.all, :id, :name%><br>
<%=f.submit "Add animal to our list"%>
<%end%>

</body>
