<!DOCTYPE html>
<html>
<head>

</head>

<body>


  <div class="wrapper">
    <br>
    <h1>Add a new animal for adoption!</h1>
      <%=form_for @animal, :html => {:class => "ui form"} do |f|%>

      <div class="field">
        <div class="two fields">
          <div class="field">
            <%= f.label :name%>
            <%= f.text_field :name%>
          </div>
          <div class="field">
            <%= f.label :type%>
            <input list="animal_type" name="animal_type">
            <datalist id="animal_type">
              <%TypeOfAnimal.all.each do |animal_type|%>
              <option><%=animal_type.name%></option>
              <%end%>
            </datalist>
          </div>
        </div>
      </div>

      <div class="field">
        <%= f.label :image_html%>
        <%= f.text_field :image_html%>
      </div>

      <div class="field">
        <%= f.label :description%>
        <%= f.text_area :description%>
      </div>

      <div class="field">
        <div class="two fields">
          <div class="field">
            <%= f.label :shelter%>
            <%= f.collection_select :shelter_id, Shelter.all, :id, :name%>
          </div>
          <div class="field">
            <%= f.label :age%>
            <%= f.text_field :age%>
          </div>
        </div>
      </div>

      <div class="field">
        <%=f.submit "Add animal to our list"%>
      </div>

      <%end%>

  </div>
</body>
